<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGGuLCwZ96t0s_jP8dPJ7q5Yl5auJpGTo</string>
	<key>GCM_SENDER_ID</key>
	<string>640197127838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vini.collegecoin</string>
	<key>PROJECT_ID</key>
	<string>collegecoin</string>
	<key>STORAGE_BUCKET</key>
	<string>collegecoin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640197127838:ios:26127f79fb8b289415958f</string>
</dict>
</plist>